<!doctype html>
<html>
  <head>
    <title>Flask-Sock Demo</title>
  </head>
  <body>
    <h1>Flask-Sock Demo</h1>
    <div id="events_user1"></div>
    <hr/>
    <div id="events_user2"></div>
    <br>
    <!-- <form id="form">
      <label for="text">Input: </label>
      <input type="text" id="text" autofocus>
    </form> -->
    <script>
      const log_user1 = (text, color) => {
        document.getElementById('events_user1').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
      };
      const log_user2 = (text, color) => {
        document.getElementById('events_user2').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
      };

      const socket1 = new WebSocket('ws://' + location.host + '/user1');
      const socket2 = new WebSocket('ws://' + location.host + '/user2');
      socket1.addEventListener('message', ev => {
        log_user1('user1 has event: ' + ev.data, 'blue');
      });
      socket2.addEventListener('message', ev => {
        log_user2('user2 has event: ' + ev.data, 'red');
      });
      // document.getElementById('form').onsubmit = ev => {
      //   ev.preventDefault();
      //   const textField = document.getElementById('text');
      //   log('>>> ' + textField.value, 'red');
      //   socket.send(textField.value);
      //   textField.value = '';
      // };
    </script>
  </body>
</html>